body {
  background-color: coral;
  font-family:'Courier New', Courier, monospace;
}

header {
  display: grid;
  grid-template-columns:1fr repeat(12,minmax(min-content,10rem)) 1fr;
  position: relative;

}

.nav-bar {
  grid-column: 1/2;
  grid-row: 1 /2 ;
  display: flex;
  flex:auto;
  background-color: rgba(255, 255, 255, 0.277);
  padding: 10px;
  gap: 20px;
  width: 50vw;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  border: 2px solid white;
  
}

.nav-bar img {
  width: 50px;
  height: 50px;
}

.nav-bar h4 {
  align-self:center;
  font-size: 20px;
}

.hero-text {
  margin-top: 200px;
  grid-column: 1/2;
  text-align: left;  
  width: 100vw;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
}

.hero-text-gradient {
  background: linear-gradient(-45deg,
    var(--color-light-blue)
    var(--color-light-purple));
}

.main-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  background-color: antiquewhite;
  padding: 30px;

}

.first-section {
  grid-column: 1 / 1;
  grid-row: 1;
  background-color: cadetblue;
}

.second-section {
  grid-column: 3/4;
  grid-row: 1;
  background-color: seagreen;
}