:root {
  --charcoal: #1A1A1A;
  --white: #ffffff;
  --rusty-brown: #B54328;
  --light-grey: #BCACA8;
  --light-purple: #a494b0;
}


body {
  display: flex;
  flex-direction: column;
  margin: 0px;
}


nav {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px 0px 0px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  box-sizing: border-box;
  color: var(--rusty-brown);
  font-family: 'Epilogue', sans-serif;
  font-weight: 500;
  text-transform: lowercase;
  font-size: 1.2rem;
  
}

.nav--menu-items {
  /* color: var(--white); */
  letter-spacing: 2px;
  font-weight: 600;
  text-shadow: 1px 1px 1px #0000002a, 1px 1px var(--rusty-brown);
}

.nav--bar-text {
  color: var(--white);
  letter-spacing: 2px;
}

header {
  display: flex;
  flex-direction: column;
  background-color: var(--charcoal);
  align-items: center;
  padding: 4rem 0rem 0rem 0rem;
  justify-items: center;
  height: 100vh;
  width: 100%;
  
  /* transition: opacity 0.5s, filter 0.5s; */
}



.hero-text {
  margin-top: 20px;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  padding: 0px 30px ;
  /* background-color: darkred; */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hero--text-title {
  font-family: 'Libre Barcode 128 Text', sans-serif;
  font-weight: 500;
  top: 90%;
  transform: translate(0%, 100%);
  position: absolute;
  /* top: 75%;
  left: 0%;
  position: absolute; 
  transform: translate(10%, 95%);  */
  text-align: center;
  font-size: 50px;
  color: white;
  text-transform: lowercase;
}

.section--hero {
  display: flex;
  flex-direction: column;
  position: relative; 
  align-items: center;
}

.section--hero-image {
  justify-items: center;
  max-width: 45%;
  border-radius: 3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 30px;
}

/* Work Availability */
.work-availability {
  position: absolute;
  top: 40%;
  left: 0%;
  right: 0%; 
  transform: translate(0%, -0%); 
  text-align: right;
  font-size: 40px;
  color: white;
  line-height: 0px;
  text-transform: lowercase;
  font-family: 'Inria Serif', sans-serif;
  width: 80%;
}

.about--section {
  height: 100vh;

}

.about--section-title {
  text-align: center;
  font-family: 'Libre Barcode 128 Text', sans-serif;
  font-size: 50px;
  font-weight: 500;
  text-transform: lowercase;
}

.about--section-text {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.about--section-name {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0rem;
  text-transform: lowercase;
  /* font-family: 'inria serif', serif; */
  font-family: 'Epilogue', sans-serif;
  justify-self: baseline;
  padding: 7rem;
  font-weight: 600;

}

.about--section-arrow {
  top: 100%;
  left: 10%;
  position: absolute;
  transform: translate(20%, 50%);
}


.about--section-name1 {
  font-size: 5rem;
  text-align: center;
  align-self: center;
}

/* 
.about--section-name2 {
  font-size: 3rem;
  text-align: center;
} */

.about--section-paragraph {
  font-size: 2rem;
  font-family: 'Epilogue', sans-serif;
  text-align: center;
  padding: 4rem 4rem 1rem 0rem;
  line-height: 3rem;
  letter-spacing: 0px;

}

.about--section-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
}


/* projects */
.projects--section {
  background-color: var(--charcoal);
  color: var(--white);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects--section-header {
  font-family: 'Libre Barcode 128 Text', cursive;
  font-size: 50px;
  font-weight: 500;
  text-transform: lowercase;
  width: 10%;
}

/* Projects slides */
.project--slide {
  display: flex;
  justify-content: center;
  background-color: var(--white);
  border-radius: 30px;
  padding: 30px;
  border: 2px solid black;
  position: relative;
  margin-top: 10rem;
  width: 50vw;
  color: var(--charcoal);
  font-family: 'Epilogue', sans-serif;
  box-shadow:  0 4px 8px 0 rgba(191, 190, 190, 0.2);
}

.project--slide img{
  /* width: 200px; */
  height: 350px;
  border-radius: 20px;
  transition: opacity 0.5s ease-in-out;
  
}

.project--slide img:hover {
  opacity: 0;
}

.project--slide img:hover + img {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.project--slide h5{
  writing-mode: vertical-lr;
  bottom: 0;
  right: 0;
  transform: translateX(100%); 
  white-space: nowrap; 
  grid-column: 1/2;
  align-self: center;
  font-weight: 600;

}

.project--slide h2{
  grid-column: 3/4;
  grid-row: 2;
  align-self: center;
  padding-left: 1rem;
}

.projects--section-paragraph {
  font-size: 1rem;
  
}

/*Project numbers*/
.project-number img {
  grid-column: 4/4;
  display: block;
  position: absolute;
  top: -13rem;
  right: -10rem;
  font-size: 20px;
  width: 400px;
  height: 350px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: none;
}


.project-number img:hover {
  opacity: 0.5;
}

.project--slide .image-container {
  position: relative;
  height: 350px;
}

.project--slide .projects--section-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(19, 19, 19, 0.686);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  gap: 1rem;
}

.project--slide .projects--section-overlay:hover {
  opacity: 1;
}

.project--slide h2 {
  color: white;
}

.projects--section-paragraph {
  color: white;
  font-size: 1rem;
  text-align: center;
  padding: 8px;
}

.projects--section-overlay h2 {
  text-align: center;
  padding: 10px;
}

/*Skills Section*/
.skills--section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills--section-header {
  font-family: 'Epilogue', sans-serif;
  text-transform: lowercase;
  font-size: 5rem;
  font-weight: 500;
  /* -webkit-text-stroke: 1.5px var(--charcoal) ; */
  color: var(--charcoal);
  display: inline-block;
  animation: slideRightToLeft 10s linear infinite;
  white-space: nowrap; 
  position: relative;
  padding: 30px 40px 10px 0px;
  opacity: 20%;
}

.skills--section-header-wrapper {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

@keyframes slideRightToLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.skills--section-image {
  width: 600px;
  height: 400px;
  border-radius: 3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.skills--section-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70%;
  justify-content: space-between;
  padding-top: 1rem;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Epilogue', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 2px;
  gap: 0.5rem;
}

.skills--section-icon:hover  {
  opacity: 0.6;
  transition: all 0.3s ease-in-out;

}

.skills--section-container span {
  text-shadow: var(--rusty-brown) 0px 0px 1px;
}

.contact--section{
  display: flex;
  flex-direction: column;
  margin: 5rem 0rem 0rem 0rem;
  width: 50%;
  padding: 2rem;
  gap: 2rem;
  border-radius: 2rem;
  background-color: var(--charcoal);
}

.contact--section-header {
  font-family: 'Epilogue', sans-serif;
  font-size: 3rem;
  font-weight: 600;
  text-transform: lowercase;
  color: var(--white);
  letter-spacing: 2px;
  align-self: center;
}

.contact--section-buttons {
  display: flex;
  gap: 4rem;
  justify-content: center;
}

.contact--section-logo-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 2.6rem;
}

.contact--section-logo {
  width: 170px;
}

.contact--section-paragraph {
  font-size: 1.4rem;
  color: var(--white);
  font-family: 'Epilogue', sans-serif;
}


footer {
  align-content: center;
  display: flex;
  justify-content: center;  
  font-family: 'Libre Barcode 128 Text', sans-serif;
  font-size: 2.3rem;
}



/* media queries: mobile */
/* For smaller screens */
@media screen and (max-width: 470px) {
  body {
    margin: 0;
  }

  nav {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  padding: 0%;
  padding-bottom: 5px;
  background-color: var(--charcoal);
  margin: 0%;
  box-shadow: #1A1A1A 0px 0px 9px;
  width: 100vw;
  
  }

  
  header {
    max-width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 0px 0px;
  }

  .section--hero {
    max-width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    /* padding: 0%; */
  }

.hero--text-title {
  font-family: 'Libre Barcode 128 Text', sans-serif;
  font-weight: 500;
  top: 100%;
  left: 0%;
  /* position: absolute;  */
  transform: translate(0%, 100%); 
  text-align: center;
  font-size: 30px;
  color: white;
  text-transform: lowercase;
}


/* Work Availability */
.work-availability {
  position: absolute;
  top: 0%;
  left: 0%; 
  transform: translate(0%, -0%); 
  text-align: center;
  font-size: 20px;
  color: white;
  line-height: 0px;
  text-transform: lowercase;
  font-family: 'Inria Serif', serif;
}


  .section--hero-image {
    max-width: 80%; 
    border-radius: 1rem;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  /* about section */
    
  .about--section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    
  }

  .about--section-title {
    font-family: 'Libre Barcode 128 Text', sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-transform: lowercase;
    left: 0;
    top: 0%;
    transform: translate(0%, 0%);    
  }

  .about--section-text {
    margin-top: 0rem;
    display: flex;
    flex-direction: column;
  }

  .about--section-name {
    display: flex;
    flex-direction: column;
    text-transform: lowercase;
    font-family: 'inria serif', serif;
    padding: 0rem;
    font-weight: 600;

  }

  .about--section-arrow {
    display: none;
  }


  .about--section-name1 {
    font-size: 3rem;
    text-align: center;
    align-self: center;
  }

  .about--section-paragraph {
    font-size: 1rem;
    font-family: 'Epilogue', sans-serif;
    text-align: center;
    padding: 1rem;
    line-height: 1rem;

  }

  .about--section-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  .Button-root {
    font-size: 0.5rem;
  }

.project-number img {
  display: block;
  position: absolute;
  top: -7rem;
    right: -2rem;
    /* font-size: 10px; */
    width: 0px;
    height: 35%;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: none;
}


/* Slides */
.project--slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border-radius: 20px;
  padding: 20px;
  border: none;
  position: relative;
  margin-top: 5rem;
  width: 50vw;
  color: var(--charcoal);
  font-family: 'Epilogue', sans-serif;
  box-shadow:  0 4px 8px 0 rgba(191, 190, 190, 0.2);
}

.project--slide img{
  max-height: 80%;
  transition: opacity 0.5s ease-in-out;
  
}


.project--slide h5{
  writing-mode: horizontal-tb;
  bottom: 0;
  right: 0;
  transform: translateX(0%); 

}

.project--slide h2 {
  align-self: center;
  padding-left: 0rem;
}


.projects--section-paragraph {
  font-size: 1rem;
}


.project--slide .image-container {
  position: relative;
  height: 350px;
}

.project--slide .projects--section-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background-color: rgba(19, 19, 19, 0.686);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  gap: 1rem;
}



.project--slide h2 {
  color: white;
  font-size: 0.9rem;
  text-align: center;
}

.projects--section-paragraph {
  color: white;
  font-size: 0.9rem;
  text-align: center;
  padding: 8px;
}

/*Skills Section*/
.skills--section {
  height: 100vh;
  display: inline;
  /* flex-direction: column; */
  /* align-items: center; */
  max-width: 100%;
  
}

.skills--section-header {
  font-family: 'Inria Serif', serif;
  text-transform: lowercase;
  font-size: 2rem;
  font-weight: 500;
  -webkit-text-stroke: 1px var(--charcoal);
  color: var(--charcoal);
  display: inline-block;
  animation: slideRightToLeft 10s linear infinite;
  white-space: nowrap; 
  position: relative;
  padding: 10px 20px 0px 0px;
  max-width: 100%;
}

.skills--section-header-wrapper {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

@keyframes slideRightToLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}



.skills--section-container {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 50%;
  gap: 1rem;
  align-content: center;
  /* justify-self: center; */
}

.icon-container {
  display: flex;
  flex-direction: column;
  /* flex-direction: column; */
  /* align-items: center; */
  font-family: 'Epilogue', sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 2px;
  gap: 0.5rem;
  
}

.skills--section-icon {
  width: 20px;
}

.contact--section{
  display: flex;
  flex-direction: column;
  margin: 1rem;
  width: 80%;
  padding: 1rem;
  gap: 1rem;
  border-radius: 1rem;
  background-color: var(--charcoal);
  text-align: center;
  align-items: center;
}

.contact--section-header {
  font-family: 'Epilogue', sans-serif;
  font-size: 1.5rem;
}

.contact--section-buttons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* justify-content: center; */
}

.contact--section-logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 0rem;
}

.contact--section-logo {
  width: 100px;
}

.contact--section-paragraph {
  font-size: 1rem;
  /* color: var(--white); */
  /* font-family: 'Epilogue', sans-serif; */
}


footer {
  /* display: flex; */
  text-align: center;
  /* font-family: 'Libre Barcode 128 Text', cursive; */
  font-size: 2rem;
}




}